@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Afacad Flux", sans-serif;
  line-height: 1.3;
  color: #333;
  width: 100vw;
  height: 100vh;
}

::selection {
  background: #3B82F6;
  color: #fff;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.relative {
  position: relative;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  background: #006BFF;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #006affe7;
    transition: ease-in-out linear 0.3s;
  }
}